*{
	margin: 0px;
	padding: 0px;
}
table,td,tr,th{
	
	border: 1px solid black;
	text-align: left;
}
#table{
	width: 400px;
}
#form1{
	display: block;
}
#formSide{
    width: 150px;
    height: 400px;
    background-color: lightgray;
    display: inline-block;
    position: absolute;
}
#cardSide{
    width: 410px;
    background-color: #E77F7F;
    display: inline-block;
    position: absolute;
    left: 300px;
}
.contactcard{
    width: 190px;
    height: 150px;
    background-color: blue;
    display: block;
    border: 1px solid black;
}
#pokeList{
    width: 600px;
    height: 1000px;
}
#pokeDex{
    width: 300px;
    height: 600px;
    border: 30px solid red;
    display: inline-block;
    position: absolute;
    left: 600px;
    top: 100px;
}
.fullname{
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    margin-bottom:10px;
    color: white;
}
.description{
    font-size: 10pt;
    text-align: center;
    margin-top:10px;
    color: white;
    display: inline
}
